{
    margin: 0px;
    padding: 0px;
    
}

body{
    background: #232427;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Lato', sans-serif;
}

.logo{
    color: beige;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;

}

.nav-links a{
    color: beige;
    text-decoration: none;
    font-weight: bold;
}

.chartBox{
    max-height: 300px;
    max-width: 800px;
    position: relative;
        }

.sidebox {
        background-color: plum;
        width:300px;
        height: 600px;
        align-items: center;
        justify-content: left;
        bottom: 50%;
        color: coral;
        list-style-type: none;
        border-radius: 15px;
    
        
}

.sidebox li{

    padding: 70px;
}


    