body{
    margin: 0;
    padding: 0;
    background-image: url(https://miro.medium.com/max/1400/1*KJz1L0ySlrPkkP47NrE3CA.jpeg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    border-radius: 25px;
    width: 320px;
    height: 420px;
    background: rgb(107, 11, 11);
    color:#fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

    border-width: 3px;
    border-style: solid;
    border-color: white; 
    
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 70%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    color: white;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb3535;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color:#000;

}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover{
    
    color: #ffc107;
}