
{
    margin: 0px;
    padding: 0px;
    
}

body{
    background: #232427;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Lato', sans-serif;
}

.logo{
    color: beige;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;

}

.nav-links a{
    color: beige;
    text-decoration: none;
    font-weight: bold;
}

.container{
   position: relative; 
   width: 1400;
   height: 300px
   margin: 240px auto;
}

.container .season2020box{
   position: relative;
   width: calc(300px - 30px);
   height: calc(300px - 30px);
   background: #000;
   float: left;
   margin: 15px;
   box-sizing: border-box;
   overflow: hidden;
   border-radius: 15px;
   transition: 1s;

}

.container .season2019box{
    position: relative;
    width: calc(300px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    
    transition: 1s;

 }

 .container .season2018box{
    position: relative;
    width: calc(300px - 30px);
    height: calc(300px - 30px);
    background: #000;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 15px;
    
    transition: 1s;
 }

 .season2020box:hover{

    transform:scale(1.2);
 }
 .season2019box:hover{

    transform:scale(1.2);
 }
 .season2018box:hover{

    transform:scale(1.2);
 }

 .season2020box a{
    height:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50%;
    color: coral;

 }

 .season2019box a{
    height:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50%;
    color: coral;
 }

 .season2018box a{
    height:40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 50%;
    color: coral;
 }
